doctype html
html(lang ='en')
    head
        meta(charset="udtf-8")
        title Todo-dodo-do
        link(rel='stylesheet' href='/style.css')
    body
        header#header
            h4= title
        block main